@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #20203f;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(30% at right 70%);
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ee204d, #1f75fe);
    clip-path: circle(20% at 10% 10%);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.formHeader{
    color: #e91e63;
    font-size: 2rem;
    font-weight: 700;
}

label{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

input:focus{
    border: none;
}

i:hover{
    cursor: pointer;
}

input{
    border-bottom: 2px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.card{
    z-index: 1;
    position: relative;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    background-color: transparent;
    border-top: 1px solid rgba(255,255,255, 0.50);
    border-left: 1px solid rgba(255,255,255, 0.50);
    backdrop-filter: blur(5px);
    margin-top: 20px;
}

.formBtns{
    width: 150px;
    background: transparent;
    margin-top: 20px;
    float: right;
    margin: auto 10px;
    border: 2px solid #e91e63;
    font-weight: 500;
    border-radius: 20px;
}

.inputBox{
    background-color: blueviolet;
    border: 2px solid red;
}

.formBtns:hover{
    background-color: #e91e63;
    border: none;
}